@import url('https://fonts.googleapis.com/css?family=Open+Sans|ZCOOL+QingKe+HuangYou');

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-style: normal;
	color: maroon;
	background-color: gainsboro;
	text-align: center-left;
			
}

h1 {
	font-family: 'ZCOOL QingKe HuangYou', cursive;
	font-weight: bolder;
	font-style: normal;
	color: maroon;
	font-size: 96px;
	text-align: center;
	background-image: url("https://media.istockphoto.com/vectors/horizontal-banner-camouflage-seamless-pattern-background-classic-vector-id846506400?k=6&m=846506400&s=612x612&w=0&h=xhUKR2FohWtKMWxGBbBBCwI6o_mNzCvCFc-wJPhQjCw=");
}
.center {
		text-align: center;
}
.paraleft {
		text-align: left;
}
.paracenter {
		text-align: center;
}
.pararight {
		text-align: right;
}
.column25 {
		float: left;
		width: 25%;
		text-align: center;
}
.column33 {
		float: left;
		width: 33%;
		text-align: center;
		
}
.column50 {
		float: left;
		width: 50%;
		text-align: center;
}
.column66 {
		float: left;
		width: 66%;
		text-align: center;
}
.column75 {
		float: left;
		width: 75%;
		text-align: center;
}
.tabs {
		postion: fixed;
		top: 0;
		right: 0;
}
.row > li {
		list-style: none;
} 
.row:after {
		content: "";
		display: table;
		clear: both;
}
img.resize {
		width: 222px;
		height: 296px;
		max-width: 33%;
		max-height: auto;
}
img.resize2 {
		width: 296px;
		height: auto;
}
a  {
		color: #B22222;
		background-color: "000000";
		text-align: right;
		underline:none;
}

.resume {
		back-ground-color: "000000:;
}
