@import url('https://fonts.googleapis.com/css?family=Open+Sans|ZCOOL+QingKe+HuangYou');

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-style: normal;
	color: maroon;
	background-color: gainsboro;
	text-align: center-left;
}

h1 {
	font-family: 'ZCOOL QingKe HuangYou', cursive;
	font-weight: bolder;
	font-style: normal;
	color: navy;
	/*background-color: teal;*/
	text-align: center;
	}
h2{
	font-family: 'ZCOOL QingKe HuangYou', cursive;
	font-weight: bold;
	font-style: normal;
	color: navy;
	/*background-color: teal;*/
	text-align: right;
	}
p{
	font-family: 'Open Sans', sans-serif;
	font-weight: 450;
	font-style: normal;
	color: navy;
	text-align: left;
	}
img {
	max-width: 300px;
	max-height: auto;
	width: 300px;
	height: auto;
	
	}
table {
	border-collapse: collapse;

	}	
tr:nth-child(even) {
	background-color: #ffffff;
	}
th {
	text-align: left;
	min-width: 200px;
	}
td {
	text-align: right;
	}
.column {
		float: left;
		width: 50%;
		}
.row:after {
		content: "";
		display: table;
		clear: both;
}